<nav class="navigation">
    <ul class="nav-left">
        <li><a href="/">HOME</a></li>
        <li><a href="/">ABOUT</a></li>
        <li><a href="/team">TEAM</a></li>
        <li><a href="/booking">BOOKING</a></li>
    </ul>
    <img src="/img/Vector.png" alt="">
    <ul class="nav-right">
        <li><a href="MENU">MENU</a></li>
        <li><a href="/GALLERY">GALLERY</a></li>
        <li><a href="/event">EVENT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>

</nav>