<section class="section-menu">
    <div>
        <h3>PIZZA QUATRO STAGIONI  . . . .    55,68 USD </h3> 
        <p>  Integer ullamcorper neque eu purus euismod</p>
    </div>
    <div>
        <h3>PIZZA QUATRO STAGIONI  . . . .   55,68 USD </h3> 
        <p>  Integer ullamcorper neque eu purus euismod</p>
    </div>
    <div>
        <h3>PIZZA QUATRO STAGIONI  . . . .   55,68 USD </h3> 
        <p>  Integer ullamcorper neque eu purus euismod</p>
    </div>
</section>