<%- include('./partials/header') %>

<section class="section-booking">
  
    <form action="">
        <h1>BOOK A TABLE</h1>
        <div class="line-yellow"></div>
        <div>  <input type="text" placeholder="Name">
            <input type="email" placeholder="Email"> 
         </div>
        <div>
            <input type="tel" placeholder="Phone"> 
            <input type="number" placeholder="People"> 
        </div>
        <div>
            <input type="date" placeholder="Date(mm/dd)"> 
            <input type="time" placeholder="Time"> 
        </div>
        <div>
            <input type="submit" value="Book Now">
        </div>
    </form>

    <article>
        <img src="/img/uhr.png" alt="">
        <img src="/img/about2-img.png" alt="">
    </article>
</section>
<p class="booking-time">Mon - Fri: <span>8PM - 10PM </span> , Sat - Sun:<span> 8PM - 3AM </span>, Phone: <span>+40 729 131 637/+40 726 458 782 </span></p>

    <%- include('./partials/footer') %>