<%- include('./partials/header') %>

<section class="section-contact">
<h1>CONTACT</h1>
<div class="line-yellow"></div>
<H4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis <br> at velit maximus, molestie est a, tempor magna.</H4>

<form action="" class="contact-form">
<div>
    <input type="text" placeholder="Name">
    <input type="email" placeholder="Email">
    <input type="tel" placeholder="Phone">
</div>
<div>
    <textarea name="" placeholder="Message"></textarea>
</div>

<div class="icons-contact">
    
       <div class="div-icons"> <i style=" color:#E8C302 ;border:none" ; class="fa fa-map-marker" aria-hidden="true"> </i>

        <h3>5th London Boulevard, U.K</h3>
    </div>
 

    <div class="div-icons">
        <i style=" color:#E8C302 ;border:none" ; class="fa fa-phone" aria-hidden="true"></i>
        
        <h3>+40 729 131 637/+40 726 458 782 </h3>


    </div>

    <div class="div-icons">
        <i style=" color:#E8C302 ;border:none" ; class="fa fa-envelope" aria-hidden="true"></i>
         <h3> office@mindblister.com</h3>
        </div>
<input type="submit" value="SEND MESSAGE ">
</div>
</form>

<div class="map-backGround">

</div>
</section>
    <%- include('./partials/footer') %>