<%- include('./partials/header') %>
<section class="section-event">

<h1 class="team-H1">PRIVATE EVENTS</h1>

<article class="foto-event">
<img src="/img/Group 3.png" alt="">
<img src="/img/Group 2.png" alt="">
</article>
<p>For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</p>
</section>
    <%- include('./partials/footer') %>