<%- include('./partials/header') %>

<section class=" gallery section-team">

    <h1 class="team-H1">SPECIALTIES</h1>
    
    <article class="flex-team">
    <div>
        <img src="/img/about2-img.png" alt="">
        <img src="/img/menu.png" alt="">
    </div>
    <div>
        <h2>CHOCOLATE PANCAKES </h2>
        <div class="line-yellow"></div>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. </h4>
    
        <p>    Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non <br> ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a <br> sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla <br> facilisis semper laoreet.</p>
    </div>
    </article>
    </section>

    <%- include('./partials/footer') %>