<%- include('./partials/header') %>
<section class="section-team">

<h1 class="team-H1">OUR TEAM</h1>

<article class="flex-team">
<div>
    <img src="/img/about2-img.png" alt="">
    <img src="/img/Rectangle.png" alt="">
</div>
<div>
    <h2>MASTER CHEF </h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. </h4>

    <p>    Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
</div>
</article>
</section>
    <%- include('./partials/footer') %>